@font-face {
    font-family: 'mohammad bold art 1';
    src: url('mohammadboldart1.woff2') format('woff2'),
        url('mohammadboldart1.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

